#header2 {
  background: linear-gradient(180deg, #323b66 10%, #09488b 90%);
  height: 113px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1030;
}

.barra-acessibilidade {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 4%;
  margin: 0 auto;
  margin-top: 10px;
}

.barra-acessibilidade label {
  padding: 0;
  margin: 0;
}

.barra-acessibilidade ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  min-height: 20px;
}

.barra-acessibilidade ul li {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 1;
  position: relative;
  text-decoration: none;
  color: rgba(252, 252, 252, 0.7);
  text-transform: uppercase;
  white-space: nowrap;
}
.barra-acessibilidade ul li a {
  color: rgba(252, 252, 252, 0.7);
}

.barra-acessibilidade ul:first-child li {
  margin-right: 17%;
}

.circle {
  width: 20px;
  height: 20px;

  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  color: #323c67;
  background-color: rgba(252, 252, 252, 0.9);
  padding: 0;
  margin: 0;
  margin-left: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 7px;
  padding: 0 8%;
}

.menu-mobile {
  display: none;
}

.mobile-nav-toggle {
  position: relative;
  right: 0px;
  width: 44px; //42px
  min-width: 44px;
  top: 2px;
}

.logo {
  position: relative;
  top: 22.5px;
  img {
    max-width: 300px;
  }
}

.navigation ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  place-content: flex-end;
}

.navigation li {
  position: relative;
}

.navigation a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0 10px 50px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-weight: 400;
}

.navigation a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navigation .active,
.navigation > a {
  color: #fff;
  font-weight: 700;
}

.navigation.lable {
  padding-right: 10px;
}

.switch {
  display: inline-block;
  width: 29px;
  height: 17px;
  margin-right: 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: linear-gradient(180deg, #073d77 0%, #09488b 100%);
  transition: 0.4s;
}

.switch input {
  opacity: 0px;
  width: 0px;
  height: 0px;
}

.slider::before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: rgba(252, 252, 252, 0.9);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
  border: 1px solid #ffffff;
}

input:focus + .slider {
  box-shadow: 0px 0px 1px linear-gradient(180deg, #073d77 0%, #09488b 100%);
}

input:checked + .slider::before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
  background-color: #ffffff;
}

.slider.round {
  border-radius: 34px;
  border: 1px solid rgba(252, 252, 252, 0.9);
}

.slider.round::before {
  border-radius: 50%;
}

.last-item label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar {
  padding: 0;
  width: 100%;
  place-content: flex-end;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  place-content: flex-end;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0 10px 50px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-weight: 400;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar .active, .navbar> a {
  color: #fff;
  font-weight: 700;

}

.wave {
  width: 100%;
  position: fixed;
  top: 117px;
  left: 0;
}

#logo-bottom-space {
  background: #09488b;
  height: 32px;
  width: 100%;
}

.home-bg {
  position: relative;
  top: -3px;
  z-index: 0;
  background: #09488b;
  height: 152px;
  width: 100%;
}

.img-wave {
  min-width: 100%;
  position: relative;
  z-index: 0;
  left: 0;
  top: -5px;
  height: 80px;

  // background-image: url('../../../assets/imgs/header.svg');
  // background-repeat: no-repeat;
  // background-position: top center;
  // background-size: 100% 100%;
}

.wave-mobile {
  display: none;
  width: 100%;
  min-width: 100%;
  position: relative;
  z-index: 0;
  top: -5px;
  left: 0;
  height: 67px;

  background-image: url('../../../assets/imgs/header-mobile.svg');
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(270deg, #09488B 0%, #073D77 100%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.linha-horizontal{
  width: 185px;
  border: 0;
  border-top: 2px solid rgba(255, 255, 255, 1);
  margin-top: -5px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.titulo-sidenav{
  text-transform: uppercase;
}

.imagem-sidenav{
  bottom: 0;
  position: absolute;
  width: 80%;
  margin: 15px 25px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #FABB00;
}
.navshadow{
  background: rgb(0,0,0,0.5) !important;
  width: 100%;
  z-index: 0;
}
.navshadow-none{
  display: none;
}

.anchor {
  &:hover{
    text-decoration: underline !important;
    cursor: pointer;
  }
}

@media (min-width: 1440px) {
  .barra-acessibilidade {
    padding: 0 60px;
  }

  .menu {
    padding: 0 110px;
  }
}

@media (min-width: 992px) {
  .wave {
    top: 117px !important
  }
}

@media (max-width: 991px) {
  #header2 {
    height: 83px;
  }

  .barra-acessibilidade {
    justify-content: flex-end;
  }
  .barra-acessibilidade ul:last-child {
    flex-direction: row-reverse;
  }

  .barra-acessibilidade ul:last-child li {
    margin-left: 8px !important;
  }

  .barra-acessibilidade ul:first-child,
  .barra-acessibilidade ul:last-child li:first-child,
  .menu,
  .img-wave{
    display: none;
  }

  .wave-mobile {
    display: block;
  }

  .wave {
    top: 110px;
  }

  .home-bg {
    height: 127px;
  }

  .menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 4%;
  }

  .logo {
    position: relative;
    top: 10px;
    img {
      width: 212px;
    }
  }

  #logo-bottom-space {
    height: 30px;
  }
}

@media (max-width: 768px) {
  .home-bg {
    height: 107px;
  }

  .wave-mobile {
    height: 37px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
