<header id="header2" class="contraste-branco">
  <nav class="barra-acessibilidade">
    <ul>
      <li>
        <a class="anchor" (click)="scrollTo('conteudo')">Ir para conteúdo</a>
        <div class="circle">1</div>
      </li>
      <li>
        <a class="anchor" (click)="scrollTo('menu-principal')">Ir para menu</a>
        <div class="circle">2</div>
      </li>
      <li>
        <a class="anchor" (click)="scrollTo('busca')">Ir para busca</a>
        <div class="circle">3</div>
      </li>
      <li>
        <a class="anchor" (click)="scrollTo('rodape')">Ir para rodapé</a>
        <div class="circle">4</div>
      </li>
    </ul>
    <ul>
      <li><a routerLink="/acessibilidade">Acessibilidade</a></li>
      <li style="margin-left: 37px">
        <label class="switch">
          <input type="checkbox" [checked]="isContrast" (click)="contraste()" />
          <span class="slider round"></span>
        </label>
      </li>
      <li class="last-item" style="margin-left: 8px">
        <input
          type="checkbox"
          id="alto-contraste"
          style="display: none"
          [checked]="isContrast"
          (click)="contraste()"
        />
        <label for="alto-contraste">Alto contraste</label>
      </li>
    </ul>
  </nav>

  <div class="menu">
    <div class="logo">
      <a routerLink="/home">
        <img src="../../../assets/imgs/creasp.png" alt="logo creasp" />
      </a>
    </div>
    <div class="navigation">
      <ul>
        <li><a class="nav-link scrollto" routerLink="/home">Home</a></li>
        <li>
          <a class="nav-link scrollto" routerLink="/servicos">Serviços</a>
        </li>
        <li><a class="nav-link scrollto" routerLink="/sobre">O Portal</a></li>
      </ul>
    </div>
  </div>
  <div class="menu-mobile">
    <div class="logo">
      <a routerLink="/home">
        <img src="../../../assets/imgs/creasp.png" alt="logo creasp" />
      </a>
    </div>
    <div class="navbar">
      <img
        src="../../../assets/icons/menu.png"
        (click)="openNav()"
        class="mobile-nav-toggle"
      />
      <div class="sidenav navclose">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
          >&times;</a
        >
        <a class="titulo-sidenav">Menu</a>
        <hr class="linha-horizontal" />
        <a class="nav-link scrollto" (click)="closeNav()" routerLink="/home"
          >Home</a
        >
        <a class="nav-link scrollto" (click)="closeNav()" routerLink="/servicos"
          >Serviços</a
        >
        <a class="nav-link scrollto" (click)="closeNav()" routerLink="/sobre"
          >O Portal</a
        >
        <img src="../../../assets/imgs/creasp.png" class="imagem-sidenav" />
      </div>
      <div class="sidenav navshadow-none" (click)="closeNav()"></div>
    </div>
  </div>
  <div
    id="logo-bottom-space"
    class="contraste-branco"
    *ngIf="showLogoBottomSpace"
  ></div>
</header>
<div class="wave" [style.top]="wavePosition + 'px'">
  <div class="home-bg" *ngIf="showBgHome"></div>
  <!-- <div class="img-wave"></div> -->
  <img src="../../../assets/imgs/header.svg" alt="" class="img-wave">
  <div class="wave-mobile"></div>
  <!-- <img src="../../../assets/imgs/header-mobile.svg" class="wave-mobile" alt=""> -->
</div>
<div class="menu-principal"></div>
<div class="busca"></div>
<div class="conteudo"></div>

