<ion-content
  class="ion-content"
  [scrollEvents]="true"
  (ionScroll)="onScroll()"
  (window:resize)="onResize()"
>
  <app-header2
  [wavePosition]="86"
  ></app-header2>
  <div class="page-wrapper">
    <div class="page-header">
      <!-- <img src="./../../assets/imgs/header.png" alt="" class="img-wave" /> -->
      <!-- <img
        src="./../../../assets/imgs/wave_header_mobile.png"
        alt=""
        class="wave-mobile"
      /> -->

      <div class="section-header">
          <div class="col div-pesquisa">
            <app-pesquisa-component
              [trends]="(trends$ | async)"
            ></app-pesquisa-component>
        </div>
        <div class="section-title">
          <h6>
            Serviços
            <hr/>
          </h6>

          <h6>
            Vídeos e Tutoriais
            <hr/>
          </h6>

        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="row" style="margin: 0px 10%;">
        <div class="col-lg-6 servicos">
            <div class="row">
                <div *ngFor="let trend of (servicos$ | async)" class="col-lg-6 lista-servico">
                    <h6 class="nome-trend" (click)="search(trend.titulo)">{{ trend.titulo }}</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-6 videos">
          <div class="section-title-mobile">
            <h6>
              Vídeos e Tutoriais
              <hr/>
            </h6>

          </div>
            <app-videos-component [hidetitle]="true" [videos]="(videos$ | async)"></app-videos-component>
        </div>
    </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
