<!-- <style>
  #botHere > luma-web-chat > div > vsa-chat > div.luma-chat-container.showChat{
  position: fixed;
  width: 400px;
  height: 500px;
  right: 5px;
  bottom: 119px;
  height: 600px !important;
}
.luma-text-user {
    color: #fff;
    background: #00498F;
    padding: 10px;
    display: flex;
    font-size: 14px;
    border-radius: 12px 12px 0px 12px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 12%);
}
</style> -->
<footer class="footer contraste-branco">
    <img src="../../../assets/imgs/wave-footer.svg" class="wave-footer">
    <img src="../../../assets/imgs/wave-footer.svg" class="wave-footer-mobile">

    <p>
        Crea - SP 2021 - Todos os direitos reservados ©
    </p>
</footer>
<div class="rodape"></div>

