.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 8px;
  height: 30px;
  background: linear-gradient(180deg, #0e488b 0%, #323b66 100%);
  display: flex;
  align-items: center;
  // line-height: 20px;
  padding: 5px;
}

.footer p {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 10%;
}

.wave-footer {
  position: fixed;
  bottom: 27px;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 18px;
  max-height: 68px;
}

.wave-footer-mobile {
  display: none;
}

.rodape {
  position: relative;
  top: -1px;
  left: 0;
}

@media (max-width: 1083px) {
  .wave-footer {
    position: fixed;
    bottom: 28px;
  }
}

@media (max-width: 768px) {
  .wave-footer {
    display: none;
  }

  .wave-footer-mobile {
    display: block;
    position: fixed;
    bottom: 28px;
    right: 0;
    left: 0;
    width: 100%;
  }

  .footer p {
    display: none;
  }
}
