.pesquisa {
  position: relative;
  width: 100%;
  text-align: center;
  // margin-top: 10px;
}
.autocomplete {
  box-shadow: 0px 0px 16.4098px rgba(8, 62, 120, 0.25);
  position: relative;
  border-radius: 15px;
  z-index: 1;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.2);
  overflow: hidden;

  & > span {
    position: absolute;
    height: 40px;
    padding: 8px 40px 8px 18px !important;
    width: calc(100% - 50px);
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 08;
    font-weight: 500;
    white-space: nowrap;
  }
}

.search {
  outline: none;
  border: none;
  border-radius: 15px;
  width: 100%;
  background: transparent;
  height: 40px;
  // box-shadow: 0px 0px 16.4098px rgba(8, 62, 120, 0.25);
  // box-shadow: 10px 5px 5px rgb(0 0 0 / 20%);
  padding: 0px 50px 0px 10px !important;
  padding-right: 40px;
  font-weight: 500;
  position: relative;
  z-index: 9;
  text-align: start;
  color: #A3a3a3;
}

.icon-search {
  position: absolute;
  right: 13px;
  top: 5px;
  width: 30px;
  z-index: 99;
  cursor: pointer;
}

.titulo-sugestao {
  font-size: 13px;
  margin-bottom: 1px;
  cursor: pointer;
  text-decoration: underline;

  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.8);
  }
}
