<div class="pesquisa">
  <div class="autocomplete">
    <span [textContent]="trend"></span>
    <ion-input
      type="text"
      (ionInput)="autoComplete($event)"
      (keydown)="onKey($event)"
      placeholder="Busca..."
      value=""
      (ionFocus)="setSugestoes()"
      (ionBlur)="dismissSugestoes()"
      class="search"
      name="buscar"
      (keyup.enter)="search($event.target)"
      id="search"
    ></ion-input>
  </div>
  <img
    class="icon-search"
    src="./assets/icons/icon-search.png"
    (click)="search_img()"
    alt="icon-search"
  />
</div>
