
#navbar-tool-top{
  position: fixed;
  // top: 0;
  left: 8px; //0
  right: 8px; //0
  // height: 20%;
  height: max-content;
  display: inline-flex;
  align-items: flex-start;
  padding: 0% 5%;
  // margin-top: 7%;
  top: 7%;
}
.img-wave{
  position: absolute;
  top: 98%;
  z-index: -1;
  width: 100%;
}

.wave{
  transition: all 0.5s;
  z-index: -1;
  display: inline-flex;
  width: 100%;
  align-items: center;
  height: 50%;
  position: absolute;
}
#div-wave {
  background: url('../../../assets/imgs/wave-header.svg');

  position: fixed;
  background-attachment: fixed;
  background-size: contain;
  background-position-y: 30vh;
  background-repeat: no-repeat;
  width: inherit;
  height: 55%;
}

// #navbar-tool-top .logo img{
//     // width: 35%;
// }


#header {
  transition: all 0.5s;
  display: inline-flex;
  width: 100%;
  align-items: center;
  height: 113px;
  // height: 12%;
  background: linear-gradient(180deg, #323B66 0%, #09488B 100%);
}


#header .container{
    width: 100%;
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(255, 255, 255, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  // max-height: 60px;
  min-width: 222.15px;
  width: 400px;
}

.anchor {
  &:hover{
    text-decoration: underline !important;
    cursor: pointer;
  }
}
.navbar {
  padding: 0;
  width: 100%;
  place-content: flex-end;
  margin-right: 50px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  place-content: flex-end;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0 10px 50px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-weight: 400;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar .active, .navbar> a {
  color: #fff;
  font-weight: 700;

}

.navbar-acessibilidade {
  position: absolute;
  // margin-bottom: 75px;
  top: 10px;
  line-height: 14px;
  text-transform: uppercase;
  //padding-right: 5%;
}

.navbar-acessibilidade ul{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  // place-content: flex-end;
}

.col-lg-4 ul{
    place-content: flex-end;
}

.navbar-acessibilidade li{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  position: relative;
  margin-right: 10%;
  text-decoration: none;
  color: rgba(252, 252, 252, 0.7);  //rgba(252, 252, 252, 0.411);
  white-space: nowrap;
}

.navbar-acessibilidade.col-lg-8 a{
  color: rgba(252, 252, 252, 0.7);
}

.navbar-acessibilidade.col-lg-4, .navbar-acessibilidade.col-lg-4 a {
  color: rgba(252, 252, 252, 0.8);
  right: 0;
}

.navbar-acessibilidade.lable {
  padding-right: 10px;
}

.circle {
  color: #323C67;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;

  width: 20px;
  height: 20px;
  background-color: rgba(252, 252, 252, 0.9);
  padding: 0rem;
  margin-left: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.switch {
  position: fixed;
  display: inline-block;
  top: 8px;
  width: 29px;
  height: 17px;
  margin-right: 10px;
  z-index: 9;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: linear-gradient(180deg, #073D77 0%, #09488B 100%);
  transition: 0.4s;
}

.switch input {
  opacity: 0px;
  width: 0px;
  height: 0px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: rgba(252, 252, 252, 0.9);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
  border: 1px solid #FFFFFF;
}

input:focus + .slider {
  box-shadow: 0px 0px 1px linear-gradient(180deg, #073D77 0%, #09488B 100%);
}

input:checked + .slider::before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
  background-color: #FFFFFF;
}

.slider.round {
  border-radius: 34px;
  border: 1px solid rgba(252, 252, 252, 0.9);
}

.slider.round::before {
  border-radius: 50%;
}

.last-item label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar {
    margin-right: 0;
  }
  .navbar ul {
    display: none;
  }
  // #navbar-tool-top{
  //   height: ;
  // }

  .navbar-acessibilidade.col-lg-8, .navbar-acessibilidade.col-lg-4 a {
    display: none;
  }

  .navbar-acessibilidade.col-lg-4 li.last-item {
    margin-right: 150px;
  }

  .navbar-acessibilidade.col-lg-4 li .switch {
    right: 105px; //85px
  }
}
@media (max-width: 768px) {
  #navbar-tool-top .logo img{
    width: 300px;
  }
  #navbar-tool-top {
    /*Iphone*/
    margin-top: 0px;

    /*Android*/
    // margin-top: 80px;
    margin-bottom: 62px;
  }
  .navbar{
    width: 100%;
  }

  .container {
    padding-right: 0;
  }

  .mobile-nav-toggle {
    position: absolute;
    right: 0px;
    width: 44px; //42px
    min-width: 44px;
    top: -8px;
  }

  .navbar-acessibilidade.col-lg-4 li.last-item {
    margin-right: 54px; //120
  }

  .navbar-acessibilidade.col-lg-4 li .switch {
    right: 23px; //82
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #21613A;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #005e0c;
}

.toolbar {
  width: 100%;
  display: flex;
  /* align-items: center; */
  /* background-color: #1976d2; */
  color: white;
  font-weight: 600;
  // margin-top: -30px;

}
.toolbar svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
// .toolbar img {
  /* margin: 0 40px; */
  /* position: absolute; */
  // width: 25%;
// }



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(270deg, #09488B 0%, #073D77 100%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.linha-horizontal{
  width: 185px;
  border: 0;
  border-top: 2px solid rgba(255, 255, 255, 1);
  margin-top: -5px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.titulo-sidenav{
  text-transform: uppercase;
}

.imagem-sidenav{
  bottom: 0;
  position: absolute;
  width: 80%;
  margin: 15px 25px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #FABB00;
}
.navshadow{
  background: rgb(0,0,0,0.5) !important;
  width: 100%;
  z-index: 0;
}
.navshadow-none{
  display: none;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
