<header id="header" class="fixed-top contraste-branco">

  <!-- <div class="wave">
  </div> -->

  <nav class="navbar-acessibilidade col-lg-8 ">
    <ul>
      <li><a class="anchor" (click)="scrollTo('conteudo')">Ir para conteúdo</a><div class="circle">1</div></li>
      <li><a class="anchor" (click)="scrollTo('menu-principal')">Ir para menu</a><div class="circle">2</div></li>
      <li><a class="anchor" (click)="scrollTo('busca')">Ir para busca</a><div class="circle">3</div></li>
      <li><a class="anchor" (click)="scrollTo('rodape')">Ir para rodapé</a><div class="circle">4</div></li>
    </ul>
  </nav>
  <div class="navbar-acessibilidade col-lg-4">
    <ul>
      <li><a routerLink="/acessibilidade">Acessibilidade</a></li>
      <li>
        <label class="switch">
          <input type="checkbox"  [checked]="isContrast" (click)="contraste()">
          <span class="slider round"></span>
        </label>
      </li>
      <li class="last-item" style="padding-left: 2px;">
        <input type="checkbox" id="alto-contraste" style="display: none;"  [checked]="isContrast" (click)="contraste()">
        <label for="alto-contraste">Alto contraste</label>
      </li>

    </ul>
  </div>

  <div id="navbar-tool-top">
    <div class="logo">
      <a routerLink="/home">
        <img
        alt="CREA-SP Logo"
        src="./assets/imgs/logocreasp.png"
        class="img-creasp"
        />
      </a>
    </div>
    <div class="toolbar" role="banner">

      <div class="container d-flex">

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" routerLink="/home">Home</a></li>
            <li><a class="nav-link scrollto" routerLink="/servicos" >Serviços</a></li>
            <li><a class="nav-link scrollto" routerLink="/sobre">O Portal</a></li>
          </ul>
          <img src="../../../assets/icons/menu.png" (click)="openNav()" class="mobile-nav-toggle">
          <div class="sidenav navclose">
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
            <a class="titulo-sidenav">Menu</a>
            <hr class="linha-horizontal">
            <a class="nav-link scrollto" (click)="closeNav()" routerLink="/home">Home</a>
            <a class="nav-link scrollto" (click)="closeNav()" routerLink="/servicos">Serviços</a>
            <a class="nav-link scrollto" (click)="closeNav()" routerLink="/sobre">O Portal</a>
            <img src="../../../assets/imgs/creasp.png" class="imagem-sidenav">
          </div>
          <div class="sidenav navshadow-none" (click)="closeNav()"></div>
        </nav>
      </div>
    </div>
  </div>
 <!--   <div id="div-wave"></div>
 <img src="../../../assets//imgs/wave-header.svg" alt="" class="img-wave"> -->

</header>
<div class="menu-principal"></div>
<div class="busca"></div>
<div class="conteudo"></div>

