#card {
    text-align-last: center;
    padding: 3px;
    // min-height: 147px;
    // min-width: 141px;
    // max-height: 137px;
    // max-height: 160px;
    // min-height: 160px;
    min-height: 145px;
    // background: linear-gradient( 180deg, #FFFFFF 0%, #E5F5FF 100%);
    background-color: #fff;
    border: 0.890727px solid #9DB0C5;
    box-sizing: border-box;
    box-shadow: 1.78145px 3.56291px 3.56291px rgb(9 72 139 / 25%);
    border-radius: 16.4134px;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card img {
    width: 63%;
}

#card i {
    font-size: 50px;
    color: #09488b;
    height: 70px;
}


.titulo-card {
    font-weight: 700;
    text-transform: uppercase;
    color: #09488b;
    // white-space: nowrap;
    word-break: keep-all;
    text-align: center;
    // font-size: 14px;
    font-size: 17px;
    // margin: 5px 2px;
    margin: 4px 2px;
}

// .link-a :hover {
//     cursor: pointer;
// }

@media(max-width: 768px) {
    #card {
        height: auto;
        // min-height: 83.13px;
        min-height: 132.06px;
        background: linear-gradient(180deg, #FCFCFC 0%, #E6F6FF 100%);
        border-radius: 9.82146px;
    }
    .titulo-card {
      font-size: 14px;
    }
}

@media(max-width: 480px) {
    #card {
        min-height: 89.13px;
    }
    .titulo-card {
        font-size: 10px;
    }
}

@media(max-width: 430px) {
    #card {
        min-height: 100.72px;
    }
    .titulo-card {
        margin-top: 6px;
    }
}

@media(max-width: 400px) {
    #card {
        min-height: 83.13px;
    }
    .titulo-card {
        font-size: 8px;
        margin-top: 4px;
    }
}

@media(max-width: 320px) {
    #card {
        min-height: 76.58px;
    }
}
