/* --- CHAT BOT ---*/
/* You can add global styles to this file, and also import other style files */

#botHere > luma-web-chat > div > vsa-chat > div.luma-chat-container.showChat {
  position: fixed;
  width: 400px;
  height: 500px;
  right: 5px;
  height: 400px !important;
  bottom: 95px;
}

.luma-chat-toggle {
  position: fixed;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
}

.hide-chat {
  display: none;
}

#botHere {
  position: fixed;
  bottom: 600px;
  right: 500px;
  z-index: 1;
}

.luma-web-chat-main-container * {
  font-family: 'Montserrat', 'Roboto', 'sans-serif';
}

.luma-chat-container {
  width: 400px;
  bottom: 34px;
  right: 1% !important;
  height: 460px;
}

.luma-download-link,
.luma-download-link:hover {
  color: #2d2b24;
  word-wrap: break-word;
  display: block;
  font-weight: 600;
  color: #007bff;
  word-wrap: break-word;
  display: inline;
}
.luma-chat-toggle {
  bottom: 24px;
  right: 1%;
  height: 107px;
  width: 111px;
  background-image: url('../../../assets/imgs/minerva/chatbot.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.bot-icon {
  background-image: url('../../../assets/imgs/minerva/minerva65x65.jpg');
  background-repeat: no-repeat;
  height: 57px;
  width: 57px;
}

.luma-chat-header-container {
  background: #00498f;
  padding: 7px;
}

.luma-text-bot {
  color: #000;
  background: #fff;
  padding: 10px;
  display: inline-block;
  font-size: 14px;
  border-radius: 0px 12px 12px 12px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
}
.luma-text-user {
  color: #fff;
  background: #00498f;
  padding: 10px;
  display: flex;
  font-size: 14px;
  border-radius: 12px 12px 0px 12px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
}

.luma-text-agent {
  color: white;
  background: #0078d7;
  padding: 10px;
  display: inline-block;
  font-size: 14px;
  border-radius: 0px 12px 12px 12px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
}

.message-info-bot {
  font-size: 10px;
}
.message-info-user {
  font-size: 10px;
}

.author-name {
  max-width: 70px !important;
}
.bot-face-icon {
  background-image: url('../../../assets/imgs/minerva/minerva40x40.jpg');
}

.agent-icon {
  background-image: url('../../../assets/imgs/minerva/AgentChat_Icon.png');
}
.welcome-image {
  background-image: url('../../../assets/imgs/minerva/service-aide-logo.png');
}
.welcome-container {
  background-image: url('../../../assets/imgs/minerva/FundoCREASP2.png');
}
.broken-bot {
  background-image: url('../../../assets//imgs/minerva/lostConnectionBot.png');
}

.attach-footer {
  visibility: hidden;
}

@media (max-width: 768px) {
  .luma-chat-toggle {
    height: 70px;
    width: 75px;
    bottom: 10px;
  }
}
