.title_cat {
  margin-bottom: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #09488b;
}


.hr {
  width: 195px;
  height: 2px;
  margin: 0;
  margin: 5px 0px;
  margin-bottom: 28px;
  background: rgba(9, 72, 139, 0.7);
  border-radius: 15px;
}

#videos {
  // margin: 0px 6%;
  padding-bottom: 5%;
  // margin-top: 2%;
}

.container-videos {
  display: inline-flex;
  overflow-x: scroll;
  max-width: 100%;
  padding-bottom: 10px;
  // scrollbar-width: none; /* Firefox */
  // -ms-overflow-style: none;
}

::-webkit-scrollbar {
  // display: none;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #E5F5FF;
}

::-webkit-scrollbar-thumb {
  background: rgb(211, 210, 210);
  border-radius: 5px;
}

.cover {
  position: relative;

  transition: all 0.2;
  &:hover {
    cursor: pointer;
  }
  &::after {
    content: url(../../../assets/imgs/play.png);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    z-index: 0;
  }
}

.frame-video {
  min-width: 210px;
  height: 110px;
  border: none;
  border-radius: 15px;
  // margin-right: 14px;
  margin-right: 7px;
  margin-left: 7px;
  object-fit: cover;
  object-position: center center;
}

.frame-video:first-child {
  margin-left: 0px;
}

// .video-player {
//     width: 30%;
//     position: fixed;
//     left: 80%;
//     top: 60%;
//     transform: translate(-50%, -50%);
//     // display: none;
// }

// video:focus {
//     outline: none;
// }
