<div id="videos">
  <h6 class="title_cat" *ngIf="!hidetitle" [style.font-size]="titleSize + 'px'" [style.color]="titleColor">
    Vídeos e Tutoriais
  </h6>
  <hr class="hr" *ngIf="!hidetitle" />
  <div class="container-videos">
    <div
      *ngFor="let video of videos"
      class="ratio ratio-21x9"
      style="margin-right: 8px"
    >
      <div (click)="showModal(video)" class="cover">
          <img
            src="http://img.youtube.com/vi/{{
              video.urlVideo.split('embed/')[1]
            }}/hqdefault.jpg"
            alt="{{video.title}}"
            class="frame-video"
          />
          </div>
    </div>
  </div>
</div>

