<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <app-chatbot-component></app-chatbot-component>
  <app-video-modal *ngIf="!!(video$ | async)" [video]="video$ | async">
  </app-video-modal>
</ion-app>
