.link-a :hover {
  cursor: pointer;
}

.row {
  margin: 0px;
}

.descricao {
  padding: 0px;
}

.lista-servico {
  margin-bottom: 5%;
  padding: 0 5px;
  h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #083e78cc;
  }
}

.title_cat {
  margin-bottom: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #083e78;
}

.resultado {
  margin: 5px;
}

.title_resultado {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #083e78cc;
}

.descricao_resultado {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  font-feature-settings: 'cpsp' on, 'liga' off;
  color: #4f4f4f;
}

.lista-resultado {
  float: right;
  width: 100%;
  overflow-y: auto;
  height: 45%;
}

.hr {
  width: 250px;
  height: 2px;
  margin: 0;
  margin: 5px 0px;
  margin-bottom: 15px;
  background: rgba(9, 72, 139, 0.7);
  border-radius: 15px;
}

.div-pesquisa {
  padding: 35px 10.6% 0px 10.6%;
  margin: 0;
  margin-bottom: 35px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 192px;
  height: calc(100% - 192px);
}

.page-header {
  & > .img-wave,
  & > .wave-mobile {
    width: 100%;
  }
}

.page-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 97px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.wave-mobile {
  display: none;
}

.section-header {
  padding-top: 28px;
  padding: 0 10%;
}

.search-bar {
  width: 100%;
  padding-left: 67px;
}

.section-title {
  padding: 0 10.6%;

  & > h6 {
    flex: 1;
    color: #09488b;
    font-size: 25px;
    line-height: 1.1;
    font-style: normal;
    font-weight: normal;
    margin-top: 28px;
  }

  hr {
    width: 195px;
    height: 2px;
    margin: 0;
    margin: 5px 0px;
    margin-bottom: 15px;
    background: rgba(9, 72, 139, 0.7);
    border-radius: 15px;
  }
}

.container-margin {
  margin: 0px 10%;
  padding: 0 8.7%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

@media (max-width: 1100px) {
  .pesquisa {
    margin: 11% 0% 6% 0%;
  }
}

@media (max-width: 991px) {
  .page-wrapper {
    margin-top: 149px;
    height: calc(100% - 149px);
  }

  .page-content {
    padding-bottom: 58px;
  }

  .div-pesquisa {
    padding: 15px 0 0 0;
    margin-bottom: 0px;
  }

  .section-title {
    padding: 0;
    & > h6 {
      margin-top: 24px;
      font-size: 20px;
    }
  }

  .container-margin {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .page-wrapper {
    margin-top: 119px;
    height: calc(100% - 119px);
  }

  .img-wave {
    display: none;
  }

  .wave-mobile {
    display: block;
  }

  .content .descricao {
    padding-right: 33px !important;
    padding-left: 33px !important;
  }
}

@media (max-width: 425px) {
  .section-header {
    padding: 0 25px;
  }
}

@media (max-width: 320px) {
  .pesquisa {
    margin: 41% 0% 6% 0%;
    padding: 0px 0%;
  }
}
