<ion-content
  class="ion-content"
  [scrollEvents]="true"
  (ionScroll)="onScroll()"
  (window:resize)="onResize()"
>
  <app-header2
  [wavePosition]="86"
  ></app-header2>

  <div class="page-wrapper">
    <div class="page-header">
      <!-- <img src="./../../assets/imgs/header.png" alt="" class="img-wave" />
      <img
        src="./../../../assets/imgs/wave_header_mobile.png"
        alt=""
        class="wave-mobile"
      /> -->

      <div class="section-header">
        <div class="col div-pesquisa">
          <app-pesquisa-component
            [trends]="(trends$ | async)"
          ></app-pesquisa-component>
        </div>
        <div class="section-title">
          <h6>
            Acessibilidade
            <hr />
          </h6>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="row" class="container-margin">
        <div class="col descricao">
          <div class="row">
            <span class="descricao_resultado" [innerHtml]="accessibilityDetails.descricao | safeHtml">

            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
