#header {
  transition: all 0.5s;
  display: inline-flex;
  width: 100%;
  align-items: center;
  height: 18%;
  // background-color: #09488b;
  // background: linear-gradient(180deg, #323B66 0%, #09488B 100%);
  background: #0a468f;
}

.link-a :hover {
  cursor: pointer;
}

#header .container {
  width: 100%;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(255, 255, 255, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 65px;
}

// #card {
//     border-radius: 15px;
//     border: 1px solid #6f99c2;
//     text-align-last: center;
//     padding: 10px;
//     // min-height: 147px;
//     // min-width: 141px;
//     background: linear-gradient( 180deg, #FFFFFF 0%, #E5F5FF 100%);
//     border: 0.890727px solid #9DB0C5;
//     box-sizing: border-box;
//     box-shadow: 1.78145px 3.56291px 3.56291px rgb(9 72 139 / 25%);
//     border-radius: 17.8145px;
// }

#navbar-tool-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 125px;
  /* background-color: #09488b; */
  display: inline-flex;
  align-items: center;
  padding: 0px 5%;
}

.img-wave {
  position: fixed;
  height: 45vh;
  top: 112px;
  right: 0;
  left: 0;
  z-index: -997;
  min-width: 100vw;
}

.wave-mobile,
.header-wave-mobile {
  display: none;
}

.title-mobile {
  display: none;
}

.btns-servicos {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

#placeholder {
  display: none;
  width: 1px;
  padding-top: 10px;
  height: 40px;
}

.placeholder-active {
  display: block !important;
}

.pesquisa-container {
  position: fixed;
  padding: 10px 15.77%;
  padding-bottom: 25px;
  width: 100%;
  margin: 0 auto;
  background-color: #09488b;
  top: 112px;
  left: 0;
  z-index: 1029;
}

.card-home {
  // margin-left: 5px;
  margin-bottom: 20px;
}

// #card img {
//     width: 70%;
// }

.col-4 {
  flex: 0 0 calc(33.333333% - 10px);
  max-width: calc(33.333333% - 10px);
  margin: 0px 5px;
  padding: 0px;
}

.row {
  margin: 0px;
  // margin-bottom: 15px;
}

.titulo-card {
  font-weight: 700;
  text-transform: uppercase;
  color: #09488b;
  text-align: center;
  font-size: 11px;
}

.div-videos {
  margin: 34px 10%;
  max-width: 1440px;
}

// #card i {
//     font-size: 50px;
//     color: #09488b;
//     height: 70px;
// }

// .sugestoes {
//     width: 100%;
//     padding: 30px;
//     background: linear-gradient(180deg, #FFFFFF 0%, #E5F5FF 100%);
//     border: 0.890727px solid #9DB0C5;
//     box-sizing: border-box;
//     box-shadow: 1.78145px 3.56291px 3.56291px rgba(9, 72, 139, 0.25);
//     border-radius: 17.8145px;
//     // margin-bottom: 2%;
//     // padding-bottom: 0;
// }

// .sugestao {
//     height: 40%;
// }

// .assuntos-buscados {
//     text-decoration: underline;
//     color: #626262;
//     margin-bottom: 3%;
// }

// #triangulo-para-cima {
//     width: 0;
//     height: 0;
//     border-left: 10px solid #0000;
//     border-right: 10px solid #0000;
//     border-bottom: 13px solid #FFFFFF;
//     position: absolute;
//     left: 25%;
//     top: -12px;
//     border-radius: 20% !important;
// }

// #videos {
//     margin: 0px 6%;
//     padding-bottom: 8%;
//     margin-top: 2%;
// }

// .container-videos {
//     display: inline-flex;
//     overflow-x: scroll;
//     max-width: 100%;
// }

//  ::-webkit-scrollbar {
//     width: 5px;
//     height: 5px;
// }

//  ::-webkit-scrollbar-track {
//     background: #f1f1f1;
// }

//  ::-webkit-scrollbar-thumb {
//     background: #888;
// }

//  ::-webkit-scrollbar-thumb:hover {
//     background: #555;
// }

// .frame-video {
//     max-width: 210px;
//     max-height: 110px;
//     border: none;
//     border-radius: 15px;
//     margin-right: 14px;
// }

.title_cat {
  margin-bottom: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #09488b;
}

.hr {
  width: 195px;
  height: 2px;
  margin: 0;
  margin: 5px 0px;
  margin-bottom: 28px;
  background: rgba(9, 72, 139, 0.7);
  border-radius: 15px;
}

.titulo {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.065em;
  color: #fcfcfc;
  position: relative;
  z-index: 1;
  padding: 5px 0 15px;
}

.pesquisa {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding: 0;
}

// .search {
//     outline: none;
//     border: none;
//     border-radius: 15px;
//     width: 80%;
//     background: white;
//     height: 40px;
//     box-shadow: 10px 5px 5px rgb(0 0 0 / 20%);
//     padding: 0px 40px 0px 10px;
//     font-weight: 500;
//     position: relative;
// }

// .icon-search {
//     position: relative;
//     left: -38px;
//     top: -2px;
//     width: 30px;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.content {
  display: flex;
  padding: 0 16%;
  width: 100%;
  max-width: 1440px;
  margin: 120px 0 50px;
  flex-direction: column;
  align-items: center;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: '\2022 \2022 \2022';
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  border-color: rgba(27, 31, 35, 0.35);
  background-position: -0.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Espaço entre balao e cards  */

// .col-lg-6:first-child {
//   padding-right: 30px;
// }

// .col-lg-6:last-child {
//   padding-left: 30px;
// }

.tabela {
  margin: 0 10%;
  max-width: 1440px;
}

/* Responsive Styles */

@media (min-width: 1440px){
  .content {
    padding: 0 220px;
    margin: 120px auto 50px auto;
  }

  .tabela {
    padding: 0 120px;
    margin: 0 auto;
  }

  .div-videos {
    padding: 0 100px;
    margin: 34px auto 0 auto;
  }
}

@media (max-width: 991px) {
  .title-mobile {
    display: block;
  }

  .btns-servicos {
    height: auto;
  }

  .content {
    padding: 0 calc(10% + 16px);
    margin: 110px auto 50px;
  }

  .titulo {
    padding-top: 1px;
    margin-top: 0;
    font-size: 35px !important;
  }

  .pesquisa-container {
    padding-left: calc(9.77% + 16px);
    padding-right: calc(9.77% + 16px);

  }

  .cards {
    margin-top: 25px;
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .sugestoes {
    padding: 10px !important;
  }
  .title-mobile {
    display: block;
  }
  .none-mobile {
    display: none;
  }
  // #card {
  //     height: auto;
  //     background: linear-gradient(180deg, #FCFCFC 0%, #E6F6FF 100%);
  // }


  .titulo {
    padding-top: 1px;
    margin-top: 0;
    font-size: 25px !important;
  }
  .img-wave {
    height: 30vh;
    width: 147vw;
  }

  .div-videos {
    margin: 34px 10%;
  }

  .content {
    margin: 100px auto 50px;
  }
}

@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }
  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }
  .card.highlight-card span {
    margin-left: 72px;
  }
  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
  .img-wave {
    display: none;
  }
  .wave-mobile {
    // margin-top: 110px;
    margin-top: 213px;
    position: fixed;
    width: 100%;
    z-index: 0;
    display: block;
  }
  .header-wave-mobile {
    display: block;
    position: fixed;
    width: 100%;
    height: 105px;
    margin-top: 111px;
    margin-bottom: -225px;
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 425px) {
  .titulo-card {
    font-size: 8px;
  }
  .titulo {
    font-size: 25px;
  }
  .img-wave {
    // height: 24vh;
    margin-top: 5px;
  }

  .content {
    padding: 0 calc(5%);
  }

  .pesquisa-container {
    padding-left: 4.77%;
    padding-right: 4.77%;
  }

}

/* </style> */
