<ion-content
  class="ion-content"
  [scrollEvents]="true"
  (ionScroll)="onScroll()"
  (window:resize)="onResize()"
  [scrollbar]="scrollbarStyles"
>
  <app-header2
  [showBgHome]="true"
  [showLogoBottomSpace]="true"
  ></app-header2>

  <div class="header-wave-mobile"></div>
  <!-- <img
    src="./../../assets/imgs/wave_header_mobile.png"
    alt=""
    class="wave-mobile"
  /> -->
  <div class="content" id="m_width">
    <div class="pesquisa">
      <h1 class="titulo contraste-font-white">O que você procura?</h1>
      <div id="placeholder"></div>

      <div id="pesquisa-sticky">
        <app-pesquisa-component
          [trends]="(trends$ | async)"
          [sugestoes]="(sugestoes$ | async)"
          (isSugestoes)="setSugestoes($event)"
        ></app-pesquisa-component>

      </div>

    </div>
    <!-- <img src="./../../assets/imgs/header2.png" alt="" class="img-wave" id="onda" /> -->
  </div>


  <div>
    <div class="row tabela">
      <div class="col-lg-6">
        <app-balao-sugestoes
          [show]="isSugestoes"
          [trends]="(trends$ | async)"
        ></app-balao-sugestoes>
      </div>

      <div class="col-lg-6 cards">
        <div class="title-mobile">
          <h6 class="title_cat">Pesquisa Serviços</h6>
          <hr class="hr" />
        </div>
        <div class="btns-servicos">
          <div class="row" style="flex: 1">
            <ng-container
              *ngFor="let servico of (servicos$ | async).slice(0, 6); let i = index"
            >
              <div *ngIf="i % 2 === 0" class="col-4">
                <app-btn-servicos-component
                  [servico]="servico"
                ></app-btn-servicos-component>
              </div>
            </ng-container>
          </div>
          <div class="row" style="flex: 1; margin-top: 16px">
            <ng-container
              *ngFor="let servico of (servicos$ | async).slice(0, 6); let i = index"
            >
              <div *ngIf="i % 2 !== 0" class="col-4">
                <app-btn-servicos-component
                  [servico]="servico"
                ></app-btn-servicos-component>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-videos">
    <app-videos-component [videos]="(videos$ | async)"></app-videos-component>
  </div>
  <app-footer></app-footer>
</ion-content>
