app-header {
  #header {
    height: 10% !important;
  }
}

.link-a :hover {
  cursor: pointer;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 192px;
  height: calc(100% - 192px);
}


.page-header {
  & > .img-wave,
  & > .wave-mobile {
    width: 100%;
  }
}

.page-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 91px;
}

.wave-mobile {
  display: none;
}

.section-header {
  display: flex;
  padding-top: 28px;
  padding: 0 10vw;
}

.search-bar {
  width: 100%;
  padding-left: 35px;
  padding-right: 1.063rem;
}

.section-title {
  flex: 1;

  & > h6 {
    color: #09488b;
    font-size: 25px;
    line-height: 1.1;
    font-style: normal;
    font-weight: normal;
    margin-top: 28px;
  }

  hr {
    width: 195px;
    height: 2px;
    margin: 0;
    margin: 5px 0px;
    margin-bottom: 15px;
    background: rgba(9, 72, 139, 0.7);
    border-radius: 15px;
  }
}

@media (max-width: 991px) {
  .page-wrapper {
    margin-top: 149px;
    height: calc(100% - 149px);
  }

  .page-content {
    padding-bottom: 58px;
  }

  .section-header {
    flex-direction: column-reverse;
  }

  .section-title {
    & > h6 {
      margin-top: 24px;
      font-size: 20px;
    }
  }

  .search-bar {
    width: 100%;
    margin: 15px auto 0 auto;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .page-wrapper {
    margin-top: 119px;
    height: calc(100% - 119px);
  }
  .wave-mobile {
    display: block;
  }
}

.row {
  margin: 0px;
}

.sugestoes {
  padding: 20px;
}

.assuntos-buscados {
  text-decoration: underline;
  color: #626262;
  margin-bottom: 3%;
}

.title_cat {
  margin-bottom: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #09488b;
}

.resultado {
  margin: 5px;
  display: inline;
}

.title_resultado {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #083e78cc;
}

.descricao_resultado {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #4f4f4f;
  padding-left: 10px;
}

.indented {
  text-indent: 20px;
}

ul {
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 50px;
}

.img-passo-a-passo {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lista-resultado {
  margin-top: 30px;
  overflow-wrap: anywhere;
  color: #4f4f4f;
}

.hr {
  width: 245px;
  height: 2px;
  margin: 0;
  margin: 5px 0px;
  margin-bottom: 15px;
  background: rgba(9, 72, 139, 0.7);
  border-radius: 15px;
}

.div-pesquisa {
  width: 100%;
  padding: 0 3.35%;
  margin: 25px 0px;
}

.pesquisa {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.search {
  outline: none;
  width: 100%;
  height: 40px;
  padding: 0px 51px 0px 10px;
  font-weight: 500;
  position: relative;
  background: #ffffff;
  border: 1px solid #bed0e1;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(8, 62, 120, 0.25);
  border-radius: 15px;
}

.icon-search {
  position: absolute;
  right: 15px;
  width: 30px;
  top: 12%;
}

#videos {
  padding-bottom: 10%;
  margin-top: 2%;
  width: 100%;
}

#videos2 {
  margin: 0px 10%;
  padding-bottom: 10%;
  margin-top: 2%;
  width: 90%;
}

.container-videos {
  display: inline-flex;
  overflow-x: scroll;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.frame-video {
  max-width: 210px;
  max-height: 110px;
  border: none;
  border-radius: 15px;
  margin-right: 14px;
}

#row-videos2 {
  display: none;
}

@media (min-width: 1440px) {
  .section-header {
    padding-top: 28px;
    padding: 0 140px;
  }
}

@media (max-width: 992px) {
  .div-pesquisa {
    padding: 0 5%;
  }

  .lista-resultado {
    margin-top: 0px;
    overflow-wrap: anywhere;
  }
}

@media (max-width: 768px) {
  .img-wave {
    display: none;
  }

  .sugestoes {
    order: 0;
  }
  .cards {
    order: -1;
  }
  #row-videos2 {
    display: block;
  }
  #videos {
    display: none;
  }

  .div-pesquisa {
    margin-top: 45px;
  }

  .title_cat {
    margin-top: 2px;
  }
}

@media (max-width: 425px) {
  .pesquisa {
    margin-bottom: 20px;
  }

  .sugestoes {
    padding: 0px;
  }

  .section-header {
   padding: 0 25px;
  }
}

@media (max-width: 320px) {
  .pesquisa {
    margin-bottom: 20px;
  }
}
