<ion-content class="ion-content">
  <app-header2
  [wavePosition]="86"
  ></app-header2>

  <div class="page-wrapper">
    <div class="page-header">
      <!-- <img src="./../../assets/imgs/header.png" alt="" class="img-wave" />
      <img
        src="./../../../assets/imgs/wave_header_mobile.png"
        alt=""
        class="wave-mobile"
      /> -->

      <div class="section-header">
        <div class="section-title">
          <h6>
            {{ detalhes?.titulo ? detalhes?.titulo : '' }}
          </h6>
          <hr *ngIf="detalhes?.titulo"/>
        </div>
        <div style="flex: 1; margin: 18px 0 30px;">
          <div class="search-bar">
            <app-pesquisa-component
              [trends]="(trends$ | async)"
            ></app-pesquisa-component>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="row" style="margin: 0px 10%">
        <div>
          <div class="lista-resultado">
            <app-conteudo-detalhes
              [conteudo]="detalhes?.descricao"
              *ngIf="detalhes?.descricao"
            ></app-conteudo-detalhes>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
