.link-a :hover {
    cursor: pointer;
}

.row {
    margin: 0px;
    // border: 1px solid red;
}

.assuntos-buscados {
    text-decoration: underline;
    color: #626262;
    margin-bottom: 3%;
}

.title_cat {
    margin-bottom: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #09488B;
}

.resultado {
    margin: 5px;
    display: inline;
}

.title_resultado {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #083e78cc;
}

.descricao_resultado {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #4F4F4F;
    padding-left: 10px;
}

.indented {
    text-indent: 20px;
}

ul {
    margin-top: 25px;
    margin-bottom: 50px;
}

.img-passo-a-passo {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lista-resultado {
    float: right;
    width: 100%;
    // height: 300px;
    height: 45%;
}

.hr {
    width: 245px;
    height: 2px;
    margin: 0;
    margin: 5px 0px;
    margin-bottom: 15px;
    background: rgba(9, 72, 139, 0.7);
    border-radius: 15px;
}

.pesquisa {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    position: relative;
}

.search {
    outline: none;
    width: 100%;
    height: 40px;
    padding: 0px 51px 0px 10px;
    font-weight: 500;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #BED0E1;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(8, 62, 120, 0.25);
    border-radius: 15px;
}

.icon-search {
    position: absolute;
    right: 15px;
    width: 30px;
    top: 12%;
}

#videos {
    padding-bottom: 10%;
    margin-top: 2%;
    width: 100%;
}

#videos2 {
    margin: 0px 10%;
    padding-bottom: 10%;
    margin-top: 2%;
    width: 90%;
}

.container-videos {
    display: inline-flex;
    overflow-x: scroll;
    max-width: 100%;
}

 ::-webkit-scrollbar {
    display: none;
    width: 5px;
    height: 5px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

.frame-video {
    max-width: 210px;
    max-height: 110px;
    border: none;
    border-radius: 15px;
    margin-right: 14px;
}

#row-videos2 {
    display: none;
}

@media(max-width: 1100px) {
    .img-wave {}
    .content {
        padding-top: 65px;
    }
}

@media(max-width: 900px) {
    .img-wave {}
}

@media(max-width: 768px) {
    .img-wave {
        display: none;
    }

    .sugestoes {
        order: 0;
    }
    // .cards {
    //     order: -1;
    // }
    #row-videos2 {
        display: block;
    }
    // #videos {
    //     display: none;
    // }
    // .div-pesquisa {
    //     margin: 50px 0 0 0 !important;
    //     // margin-top: 50px;
    // }
    .div-pesquisa {
        margin: 44px 0 0 0;
        padding-right: 18px;
        padding-left: 18px;
    }
    .title_cat {
        margin-top: 2px;
    }
}

@media(max-width: 425px) {
    .pesquisa {
        margin-bottom: 20px;
    }
    .content {
        padding-top: 65px;
    }
    .sugestoes {
        padding: 0px;
    }
    // .img-wave {
    //     margin-top: 109px;
    // }
}

@media(max-width: 320px) {
    .pesquisa {
        margin-bottom: 20px;
    }
    .content {
        padding-top: 75px;
    }
}
