.modal-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 530px;
  height: 60vw;
  max-height: 331.4px;
  position: fixed;
  right: 5%;
  bottom: 8%;
  z-index: 2;
  background: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 5px 0px #00000080;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  min-height: 32px;

  & > button {
    padding: 8px;
    background: transparent;
    color: black;
    right: 8px;
    top: 8px;
  }
}

.iframe-video {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
}
