<div class="modal-container">
  <div class="buttons">
    <button (click)="closeModal()"> X </button>
  </div>
  <iframe
    [src]="video.safeUrl"
    [title]="video.titulo"
    allowfullscreen
    class="iframe-video"
    allow="autoplay"
  >
  </iframe>
</div>
