<div *ngFor="let result of resultado" (click)="goToDetalhes(result.id)" class="row resultado">
  <h6 class="title_resultado">
      {{ result.titulo }}
  </h6>
  <p [innerHTML]="result.descricao | safeHtml" class="descricao_resultado"></p>
  <!-- <p  class="descricao_resultado">
      {{ result.descricao }}
  </p> -->
</div>

<div *ngIf="resultado.length === 0" id="search-without-results">
  <p>
    Desculpe, não conseguimos achar o que você procura.
  </p>

  <ul>
    <li>Tente usar outra palavra chave na sua busca;</li>
    <li>Explique-se de outra maneira;</li>
    <li>Busque o que procura nos serviços.</li>
  </ul>
</div>
