.resultado {
  margin: 5px;
  display: inline;
  cursor: pointer;
}

.row {
  margin: 0px;
  // border: 1px solid red;
}

.title_resultado {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #083e78cc;
}

.descricao_resultado {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #4f4f4f !important;
  overflow-wrap: anywhere;
}

#search-without-results {
  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.2;
    color: #003e78;
    opacity: 0.8;
  }

  ul {
    padding: 0 !important;
    list-style-position: inside !important;
  }

  ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    font-feature-settings: 'cpsp' on, 'liga' off;
    color: #4f4f4f;
  }

}
