.contraste-branco{
    background-color: transparent;
  }
  .contraste-preto{
    background: #000000 !important;
    color: #FFE600 !important;
  }
  .contraste-font-white {
    color: white;
  }
  .contraste-font-amarelo {
    color: #EFC53B !important;
  }

  .chat-boot-no-contrast {
    
  }
  
  .chat-boot-contrast {
    .luma-chat-header-container{
        background: #000000 !important;
    }
  }
  
  .ion-content{
    --background: transparent;

    background: url("./imgs/bgMinerva.svg") no-repeat, linear-gradient(180deg, #fff 0%, #D9F1FF 100%);
    background-size: 30%;
    background-position: right bottom;
  }
  @media(max-width:768px){
    .ion-content{
        background-size: 310px !important;
        background-position: right bottom;
    }
    .contrast-ion-content{
        background-size: 310px !important;
        background-position: right bottom;
    }
  }
  .contrast-ion-content {
        --background: transparent;

        background: url("./imgs/bgMinervaContrast.png") no-repeat, black;
        background-size: 30%;
        background-position: right bottom;
        color: #FFE600 !important;
    a, .last-item{
        color: #FFE600 !important;
    }
    p,
    .assuntos-buscados{
        color: white !important;
    }
    h6{
        color: #FFE600 !important;
    }
    .hr{
        background: #FBCD35 !important;
    }
    .sugestoes{
        background-color: #000000 !important;
    }
    .header-wave-mobile,
    .wave-mobile,
    .img-wave,
    .wave-footer {
        display: none !important;
    }
    .sidenav{
        background: #000000 !important;
        a {
            color: #FFFFFF !important;
        }
    }
  }