
.sugestoes {
  width: 100%;
  padding: 25px;
  background-color: #ffffff;
  border: 0.890727px solid #9db0c5;
  box-sizing: border-box;
  box-shadow: 1.78145px 3.56291px 3.56291px rgba(9, 72, 139, 0.25);
  border-radius: 17.8145px;
  height: 100%;
  max-height: 100%;
  // margin-bottom: 2%;
  // padding-bottom: 0;
}

#triangulo-para-cima {
  position: absolute;
  left: 25%;
  top: -10px;
  width: 36px;
  height: 12px;
  background-image: url(../../../assets/imgs/triangle.png);
  background-repeat: no-repeat;
}

.sugestao {
  // height: 40%;
  color: #626262;
  // cursor: pointer;
  p {
    color: #626262;
    // background-color: #09488b;
    cursor: pointer;
  }
}

.row {
  margin: 0px;
  // margin-bottom: 15px;
}

.subject-search {
  margin-bottom: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #09488b;
  cursor: default;
}

.hr-balao-sugestoes {
  width: 195px;
  height: 2px;
  margin: 0;
  margin: 5px 0px;
  margin-bottom: 15px;
  background: rgba(9, 72, 139, 0.7);
  border-radius: 15px;
}

// .assuntos-buscados {
//   text-decoration: underline;
//   color: #626262;
//   margin-bottom: 3%;
// }

// .assuntos-buscados p {
//   font-size: 15px;
//   cursor: pointer;

//   transition: filter 0.2s;
//   &:hover {
//     filter: brightness(0.8);
//   }
// }

.titulo-sugestao {
  font-size: 13px;
  margin-bottom: 1px;
  cursor: pointer;
  text-decoration: underline;
  color: #626262;


  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.8);
  }
}

.posiciona-itens {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  column-gap: 15px;
}

@media (max-width: 991px) {
  .sugestoes {
    background: linear-gradient(180deg, #FFFFFF 0%, #E5F5FF 100%);
  }
}

@media (max-width: 768px) {
  .sugestoes {
    padding: 10px !important;
  }
  .none-mobile {
    display: none;
  }
}
