<div class="sugestoes">
  <div id="triangulo-para-cima"></div>
  <div class="row none-mobile" *ngIf="true">
    <div>
      <h6 class="subject-search">Sugestões</h6>
      <hr class="hr-balao-sugestoes" />
      <div class="sugestao" id="match-sugestion">

      </div>
    </div>
  </div>
  <div class="row none-mobile">
    <div>
      <h6 class="subject-search">Assuntos mais buscados</h6>
      <hr class="hr-balao-sugestoes" />
    </div>
  </div>
  <div class="row posiciona-itens">
    <div *ngFor="let trend of trends.slice(0, 6)" class="assuntos-buscados">
      <!-- <a class="link-a"> -->
      <p (mousedown)="search({ value: trend.assunto })" class="titulo-sugestao">
        {{ trend.assunto }}
      </p>
      <!-- </a> -->
    </div>
  </div>
</div>
