/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url("https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css");

// @import url('./assets/alto_contraste.scss');

.title-section {
  font-size: 25px !important;
}

.page-content {
  scroll-behavior: smooth !important;
}

.title-white {
  color: #ffffff !important;

  hr {
    background: #ffffff !important;
  }
}

.line-white {
  background: #ffffff !important;
}

.line-white,
.title-white {
  position: relative;
  z-index: 10;
}

.contraste-branco {
  background-color: transparent;
}
.contraste-preto {
  background: #000000 !important;
  color: #ffe600 !important;
}
.contraste-font-white {
  color: white;
}
.contraste-font-amarelo {
  color: #efc53b !important;
}

.chat-boot-no-contrast {
}

.chat-boot-contrast {
  .luma-chat-header-container {
    background: #000000 !important;
  }
}

.ion-content {
  --background: transparent;

  background: url("./assets/imgs/bgMinerva.svg") no-repeat,
    linear-gradient(180deg, #fff 0%, #d9f1ff 100%);
  background-size: 30%;
  background-position: right bottom;
}
@media (max-width: 768px) {
  .ion-content {
    background-size: 310px !important;
    background-position: right bottom;
  }
  .contrast-ion-content {
    background-size: 310px !important;
    background-position: right bottom;
  }
}
.contrast-ion-content {
  --background: transparent;

  background: url("./assets/imgs/bgMinervaContrast.png") no-repeat, black;
  background-size: 30%;
  background-position: right bottom;
  color: #ffe600 !important;
  a,
  .last-item {
    color: #ffe600 !important;
  }
  p, span,
  .assuntos-buscados {
    color: white !important;
  }
  h6 {
    color: #ffe600 !important;
  }
  hr {
    background: #fbcd35 !important;
  }
  .sugestoes {
    background: #000000 !important;
  }
  .header-wave-mobile,
  .wave-footer-mobile,
  .wave-footer {
    display: none !important;
  }

  .wave-mobile,
  .home-bg,
  .img-wave {
    visibility: hidden !important;
  }

  .sidenav {
    background: #000000 !important;
    a {
      color: #ffffff !important;
    }
  }

  #triangulo-para-cima {
    background-image: url(./assets/imgs/triangle-contrast.png) !important;
  }

  #pesquisa-sticky {
    background-color: #000000;
  }
}

.navopen {
  width: 250px !important;
}

.navclose {
  width: 0px !important;
}

/* --- CHAT BOT ---*/

.chat-input[_ngcontent-c1],
.chat-input[_ngcontent-c1]:focus {
  background: white !important;
}

.attach-footer[_ngcontent-c1] {
  width: 15%;
}

/* You can add global styles to this file, and also import other style files */

.luma-chat-container {
  width: 300px !important;
  height: 400px !important;
  // height: 385px !important;
  bottom: 12px;
  right: 1%;
  // z-index: 9999;
}

.luma-chat-toggle {
  position: fixed;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

#botHere {
  position: fixed;
  bottom: 590px !important;
  right: 410px !important;
}

.luma-web-chat-main-container * {
  font-family: "Montserrat", "Roboto", "sans-serif";
}

.luma-download-link,
.luma-download-link:hover {
  color: #2d2b24;
  word-wrap: break-word;
  display: block;
  font-weight: 600;
  color: #007bff;
  word-wrap: break-word;
  display: inline;
}

.luma-chat-toggle {
  bottom: 25px;
  right: 25px;
  height: 80px;
  width: 80px;
}

// .bot-icon {
//     background-image: url('assets/imgs/minerva65x65.jpg');
//     background-repeat: no-repeat;
//     height: 57px;
//     width: 57px;
// }

.luma-chat-header-container {
  background: #00498f;
  padding: 7px;

  justify-content: space-between;

  &::after {
    content: url(./assets/imgs/close.svg);
  }
}

.luma-text-bot {
  color: #000;
  background: #fff;
  padding: 10px;
  display: inline-block;
  font-size: 14px;
  border-radius: 0px 12px 12px 12px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
}

.luma-text-user {
  color: #fff !important;
  background: #00498f !important;
  padding: 10px;
  display: flex;
  font-size: 14px;
  border-radius: 12px 12px 0px 12px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
}

.luma-text-agent {
  color: white;
  background: #0078d7;
  padding: 10px;
  display: inline-block;
  font-size: 14px;
  border-radius: 0px 12px 12px 12px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
}

.message-info-bot {
  font-size: 10px;
}

.message-info-user {
  font-size: 10px;
}

.author-name {
  max-width: 70px !important;
}

.bot-face-icon {
  background-image: url("assets/imgs/minerva40x40.jpg");
}

.agent-icon {
  background-image: url("assets/imgs/AgentChat_Icon.png");
}

.broken-bot {
  background-image: url("assets/imgs/lostConnectionBot.png");
}

.attach-footer {
  visibility: hidden;
}

@media (max-width: 768px) {
  #botHere {
    bottom: 510px !important;
    right: 310px !important;
  }
  .luma-chat-container {
    // width: 300px !important;
    height: 400px !important;
    // top: 10px;
    // right: 10px;

    // width: 90%;
    // right: auto;
    // left: auto;
    // bottom: 85px;
  }
}
@media (max-height: 450px) {
  .luma-chat-toggle {
    display: none !important;
  }
  .footer {
    display: none;
  }
  .luma-chat-container {
    bottom: 10px;
  }
}
.send-message {
  margin-right: 3px !important;
}
