app-header {
  #header {
    height: 10% !important;
  }
}

.link-a :hover {
  cursor: pointer;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 192px;
  height: calc(100% - 192px);
}

.page-header {
  & > .img-wave,
  & > .wave-mobile {
    width: 100%;
  }
}

.page-content {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 97px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.wave-mobile {
  display: none;
}

.section-header {
  display: flex;
  align-items: flex-start;
  padding-top: 28px;
  padding: 0 10vw;
}

.search-bar {
  display: none;
  width: 80%;
  margin: 28px auto 0 auto;
}

.search-bar-desktop {
  width: 100%;
  padding-left: 35px;
  padding-right: 1.063rem;
}

.section-title {
  flex: 1;

  & > h6 {
    color: #09488b;
    font-size: 25px;
    line-height: 1.2;
    font-style: normal;
    font-weight: normal;
    margin-top: 28px;
  }

  hr {
    width: 195px;
    height: 2px;
    margin: 0;
    margin: 5px 0px;
    margin-bottom: 15px;
    background: rgba(9, 72, 139, 0.7);
    border-radius: 15px;
  }
}

.fixed-content {
  width: calc(40% - 1.063rem);
  position: fixed;
  padding-left: 35px;
  left: 50%;
}

.row {
  margin: 0px;
}

.margin-adjustment {
  padding: 0 calc(10% + 1.063rem);
}

.search-title {
  margin-top: 20px;
}

.sugestoes {
  padding: 0;
  padding-right: 35px;
}

.assuntos-buscados {
  text-decoration: underline;
  color: #626262;
  margin-bottom: 3%;
}

.title_cat {
  margin-bottom: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #09488b;
}

.resultado {
  margin: 5px;
  display: inline;
}

.title_resultado {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #083e78cc;
}

.descricao_resultado {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #4f4f4f;
}

.lista-resultado {
  float: right;
  width: 100%;
  height: 45%;
}

.hr {
  width: 195px;
  height: 2px;
  margin: 0;
  margin: 5px 0px;
  margin-bottom: 15px;
  background: rgba(9, 72, 139, 0.7);
  border-radius: 15px;
}

.div-pesquisa {
  width: 100%;
  max-width: 610px;
  margin: 0px 0px;
}

#videos-pesquisa {
  padding-bottom: 10%;
  width: 100%;
}

#videos2 {
  margin: 0px 10%;
  padding-bottom: 10%;
  margin-top: 2%;
  width: 90%;
}

.container-videos {
  display: inline-flex;
  overflow-x: scroll;
  max-width: 100%;
}

::-webkit-scrollbar {
  display: none;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}


.frame-video {
  max-width: 210px;
  max-height: 110px;
  border: none;
  border-radius: 15px;
  margin-right: 14px;
}

#row-videos2 {
  display: none;
}

@media (min-width: 1440px) {
  .section-header {
    padding-top: 28px;
    padding: 0 140px;
  }
}

@media (max-width: 991px) {
  .page-wrapper {
    margin-top: 149px;
    height: calc(100% - 149px);
  }

  .page-content {
    padding-bottom: 58px;
  }

  .section-header {
    padding-right: 10vw;
    & div + div {
      display: none;
    }
  }

  .search-bar {
    display: block;
  }

  .section-title {
    & > h6 {
      font-size: 20px;
    }
  }

  .div-pesquisa {
    display: none;
  }

  .margin-adjustment {
    padding: 0;
    margin: 0 10%;
  }

  .sugestoes {
    order: 0;
    padding-right: 0px;
  }

  #videos-pesquisa {
    display: none;
  }

  #videos2 {
    padding-bottom: 0;
  }

  #row-videos2 {
    display: block !important;
  }

  .fixed-content {
    margin: 0 5%;
    padding: 0;
    position: relative;
    left: auto;
  }

  .cards {
    order: -1;
  }
}

@media (max-width: 768px) {
  .page-wrapper {
    margin-top: 119px;
    height: calc(100% - 119px);
  }

  .img-wave {
    display: none;
  }
  .wave-mobile {
    display: block;
  }

  .sugestoes {
    order: 0;
  }
  .cards {
    order: -1;
  }
  #row-videos2 {
    display: block;
  }
  #videos-pesquisa {
    display: none;
  }

  .div-pesquisa {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 45px;
  }
  .title_cat {
    padding-top: 0;
    margin-top: 0;
  }
  .search-title {
    margin-top: 0px;
  }
}

@media (max-width: 425px) {
  .pesquisa {
    margin-bottom: 20px;
  }

  .search-bar {
    width: 100%;
    padding: 0 25px;
    margin-top: 15px;
  }

  .section-title {
    & > h6 {
      margin-top: 20px;
    }
  }

  .section-header {
    padding: 0 25px;
  }

  .sugestoes {
    margin: 0px 30px;
  }

  .margin-adjustment {
    margin: 0;
  }
  #videos2{
    margin: 0 25px;
  }
}

@media (max-width: 320px) {
  .pesquisa {
    margin-bottom: 20px;
  }
}
