<ion-content
  class="ion-content"
  [scrollEvents]="true"
  (ionScroll)="onScroll()"
  (window:resize)="onResize()"
>
  <app-header2
  [wavePosition]="86"
  ></app-header2>

  <div class="page-wrapper">
    <div class="page-header">
      <!-- <img src="./../../assets/imgs/header.png" alt="" class="img-wave" />
      <img
        src="./../../../assets/imgs/wave_header_mobile.png"
        alt=""
        class="wave-mobile"
      /> -->
      <div class="search-bar">
        <app-pesquisa-component
          [trends]="(trends$ | async)"
        ></app-pesquisa-component>
      </div>
      <div class="section-header">
        <div class="section-title">
          <h6>
            Resultados da Busca por "{{pesquisa.busca ? pesquisa.busca : ''}}"
          </h6>
          <hr />
        </div>
        <div style="flex: 1; margin: 18px 0 30px;">
          <div class="search-bar-desktop">
            <app-pesquisa-component
              [trends]="(trends$ | async)"
            ></app-pesquisa-component>
          </div>
        </div>

      </div>
    </div>
    <div class="page-content">
      <div class="row margin-adjustment">
        <div class="col-lg-6 sugestoes">
          <div class="lista-resultado">
            <app-resultado-component
              *ngIf="!searching"
              [resultado]="pesquisa.data"
            ></app-resultado-component>
          </div>
        </div>

        <div class="col-lg-6 cards fixed-content">
          <!-- <div class="row">
            <div class="div-pesquisa">
              <app-pesquisa-component
                [trends]="(trends$ | async)"
              ></app-pesquisa-component>
            </div>
          </div> -->
          <div class="row">
            <div id="videos-pesquisa">
              <app-videos-component [videos]="videos" [titleSize]="25"  titleColor="#09488b"></app-videos-component>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="row-videos2">
        <div id="videos2">
          <app-videos-component [videos]="videos"></app-videos-component>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
